
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

//font

$font-stack: 'Rubik', sans-serif;

/* color
	1. backgrounds
	2. buttons
	3. text
*/

// 1. backgrounds
$color-background: #FFF;
$color-background-contrast: #F2F2F2;

// 2. buttons
$color-button: #3284FF;
$color-button-hover: #0056D7;

// 3. text
$color-text-dark: #1D1D1D;
$color-text-light: #707070;


