.form {
	padding: 2em;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.form div {
	padding-bottom: 1em;
}

.form label {
	vertical-align: top;
	padding-right: .5em;
}

.form input,
.form textarea {
	margin-top: .5em;
	padding: 1em;
	width: 100%;
	border: 0;
	border-radius: 5px;
}

.form input:focus,
.form textarea:focus {
	border: solid 3px var(--color-accent-400);
	outline: none;
	box-shadow: 0px 0px 2px var(--color-accent-400);
}

.form button:nth-of-type(1) {
	margin-bottom: 1em;
}

@supports selector(:focus-visible) {

	.form input:focus,
	.form textarea:focus {
		border: none;
		box-shadow: none;
	}

	.form input:focus-visible,
	.form textarea:focus-visible {
		border: solid 3px var(--color-accent-400);
		outline: none;
		box-shadow: 0px 0px 2px var(--color-accent-400);
	}

}

.alert {
	background-color: var(--color-neutral-100);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1em;
	border-radius: 5px;
}

.success {
	background-color: rgb(209, 223, 209);
	color: green;
}

.failed {
	background-color: rgb(218, 173, 173);
	color: red;

}

.close {
	width: 12px;
	height: 12px;

}

@media only screen and (min-width: 720px) {
	.form div:last-of-type:not(.alert) {
		padding-bottom: 0;
	}

	.form-buttons {
		align-self: flex-end;
		margin-bottom: 0;
	}

	.form-buttons button:nth-of-type(1) {
		margin-right: 1em;
		margin-bottom: 0;
	}
}